@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
body {
  position: relative;
}

.background {
  position: absolute;
  top: -5px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.background img {
  max-width: 62.5%;
}

.header,
.info,
.advantages,
.footer {
  position: relative;
}

.container {
  max-width: 790px;
  margin: 0 auto;
  padding: 0 15px;
}
.container_small {
  max-width: 590px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (max-width: 600px) {
  .container_small {
    padding: 0;
  }
}

.header__top {
  background-color: #63edfe;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__top a {
  color: #20243b;
  font-size: 20px;
  font-weight: 600;
  padding: 14px 0;
}
@media screen and (max-width: 600px) {
  .header__top a {
    font-size: 16px;
  }
}
.header__middle {
  padding: 25px 0 35px;
}
.header__logos {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10px 0;
}
@media screen and (max-width: 700px) {
  .header__logos {
    flex-direction: column;
    align-items: center;
  }
}
.header__logos a {
  display: block;
  margin: 0 40px;
}
.header__logos a:nth-of-type(2) {
  margin: 0 10px;
}
@media screen and (max-width: 700px) {
  .header__logos a {
    margin: 0 0 20px 0;
  }
  .header__logos a:nth-of-type(2) {
    margin: 0;
  }
}
.header__logos:before {
  content: "";
  background-color: #d9d9d9;
  width: 1px;
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 700px) {
  .header__logos:before {
    display: none;
  }
}
.header__content {
  text-align: center;
  font-size: 18px;
  color: #20243b;
  font-weight: 300;
  margin-top: 20px;
}
@media screen and (max-width: 600px) {
  .header__content {
    font-size: 16px;
  }
}
.header__bottom {
  background-color: #63edfe;
  border-radius: 31px;
  padding: 15px 0;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
@media screen and (max-width: 600px) {
  .header__bottom {
    font-size: 20px;
  }
}

.info {
  padding: 55px 0 0 0;
}
@media screen and (max-width: 600px) {
  .info {
    padding-top: 30px;
  }
}
.info__top {
  padding-bottom: 55px;
  position: relative;
}
@media screen and (max-width: 600px) {
  .info__top {
    padding-bottom: 30px;
  }
}
.info__top:before {
  content: "";
  position: absolute;
  display: block;
  width: 115%;
  max-width: 96vw;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  background-color: #63edfe;
  height: 3px;
}
.info__top p {
  text-align: center;
  color: #20243b;
  font-size: 30px;
  font-weight: 700;
}
@media screen and (max-width: 600px) {
  .info__top p {
    font-size: 24px;
  }
}
.info__top p.bold {
  font-size: 90px;
  line-height: 120%;
  color: #f45b2e;
}
@media screen and (max-width: 600px) {
  .info__top p.bold {
    font-size: 60px;
    line-height: 130%;
  }
}
.info__bottom {
  padding: 20px 0 20px;
  position: relative;
}
.info__bottom:before {
  content: "";
  position: absolute;
  display: block;
  width: 63%;
  max-width: 96vw;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  background-color: #63edfe;
  height: 3px;
}
.info__bottom p {
  text-align: center;
  color: #20243b;
  line-height: 115%;
  font-size: 18px;
  font-weight: 300;
}
@media screen and (max-width: 600px) {
  .info__bottom p {
    font-size: 16px;
  }
}
.info__bottom p.bold {
  font-size: 70px;
  line-height: 100%;
  font-weight: 700;
  color: #f45b2e;
}
@media screen and (max-width: 600px) {
  .info__bottom p.bold {
    font-size: 48px;
  }
}
.info__links {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 75px 0;
}
@media screen and (max-width: 600px) {
  .info__links {
    padding: 35px 0;
  }
}
@media screen and (max-width: 500px) {
  .info__links {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.info__links:before {
  content: "";
  position: absolute;
  display: block;
  width: 100px;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  background-color: #1f5bff;
  height: 3px;
}
.info__links a {
  color: #20243b;
  background-color: #63edfe;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 200px;
  height: 55px;
  text-align: center;
  border-radius: 30px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.info__links a:hover {
  background-color: #f45b2e;
  color: #ffffff;
}
.info__links a:active {
  background-color: #63edfe;
  color: #20243b;
}

.advantages {
  padding: 40px 15px;
}
.advantages__title {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  line-height: 125%;
}
@media screen and (max-width: 600px) {
  .advantages__title {
    font-size: 16px;
  }
}
.advantages p {
  font-size: 20px;
  color: #000000;
  line-height: 125%;
  margin: 25px 0;
  font-weight: 300;
}
@media screen and (max-width: 600px) {
  .advantages p {
    font-size: 16px;
  }
}
.advantages li {
  font-size: 20px;
  color: #000000;
  line-height: 155%;
  font-weight: 300;
  list-style: initial;
  margin-left: 20px;
}
@media screen and (max-width: 600px) {
  .advantages li {
    font-size: 16px;
  }
}

.footer {
  max-width: 560px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px 22px;
  border-radius: 37px;
  background-color: #20243b;
}
@media screen and (max-width: 600px) {
  .footer {
    padding: 16px 20px 18px;
  }
}
.footer__right {
  display: flex;
  align-items: center;
}
.footer__right a {
  display: flex;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: #ffffff;
  color: #20243b;
  margin-left: 10px;
  border-radius: 50%;
}
@media screen and (max-width: 600px) {
  .footer__right a {
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
